<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Calibri', sans-serif;
            background-image: url('static/scanner1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed; 
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Web Vulnerability Scanner</a>
</nav>

<div class="container mt-5">
    <h1>About-Us</h1>
    <p>This web application is created to help users detect common web vulnerabilities in websites. It scans for Cross-Site Scripting (XSS), Cross-Site Request Forgery (CSRF), Injection Flaws, SQL Injection, Open Redirect, and Server-Side Request Forgery (SSRF).</p>
    
    <h2>Severity Levels</h2>
    <p>In the circumstances of vulnerability scanning, the severity levels show the potential impact of a vulnerability. Here is what each severity level means:</p>
    <ul>
        <li><strong>Low:</strong> Low severity vulnerabilities generally have small impact and are relatively easy to fix.</li>
        <li><strong>Medium:</strong> Medium severity vulnerabilities have a hasty impact and may need more attention to fix.</li>
        <li><strong>High:</strong> High severity vulnerabilities have a significant impact and need attention asap to fix as they give a serious threat to the security of the system/website.</li>
    </ul>
</div>

</body>
</html>
